.popular_card:hover .card_img{
    animation: opacity 0.4s ease-in;
}
@keyframes opacity {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.8;
    }
   100%{
       opacity: 1;
   }
}
.popular_card_img{
    border-radius: 20px;
    margin-bottom: 20px;
    width: 512px;
    height: 678px;
}
.popular_card_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular_card_header{
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.56;
    letter-spacing: -0.04em;
}
.popular_card_desc{
    font-weight: 500;
    font-size: 24px;
    line-height: 2.08;
    letter-spacing: -0.04em;
    color:#7e57c2;
}
.popular_card_price{
    font-weight: 500;
    font-size: 18px;
    line-height: 2.08;
    letter-spacing: -0.04em;
}