<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление обуви</title>
    <style>
    body {background-color: #FFFFFF}
    a { color:#000000; text-decoration:none;}
    table { background-color: #DAE7E6; text-align: center}
    button {background-color: #DAE7E6}
    </style>
</head>
<body>
<br><br><br><br>
<form th:action="@{/shoes/add}" align="center" method="POST">
    <input name="model" type="text" id="model" class="form-control" placeholder="Model" required/>
    <br>
    <br>
    <input name="brand" type="text" id="brand" class="form-control" placeholder="Brand" required/>
    <br>
    <br>
    <input min="35" max="48" name="size" type="number" id="size" class="form-control" placeholder="Size" required/>
    <br>
    <br>
    <input name="collor" type="text" id="collot" class="form-control" placeholder="Collor" required/>
    <br>
    <br>
    <input min="1" name="num" type="number" id="num" class="form-control" placeholder="Amount" required/>
    <br>
    <br>
    <input min="0" name="price" type="number" id="price" class="form-control" placeholder="Price" required/>
    <br>
    <br>
    <textarea cols="50" rows="10" name="discription" id="discription" class="form-control" placeholder="Discription" required/>Discription
    </textarea>
    <br>
    <br>
    <button type="submit" class="btn btn-light">Add an shoes</button>
</form>
<br>

<p align="center"><button type="submit" class="btn btn-light"><a th:href = "@{admin/shoes}" style="text-decoration: none;">Return</a></button></p>

</body>
</html>