<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Товары</title>
    <style>
    body {background-color: #FFFFFF}
    a { color:#000000; text-decoration:none;}
    table { background-color: #DAE7E6; text-align: center}
    button {background-color: #DAE7E6}
    </style>
</head>

<body>

    <table width="55%"  cellpadding="10px" align="center">
        <tr>
            <th><a th:href = "@{/admin/orders}" style="text-decoration: none;"><h2>Заказы</h2></a></th>
            <th><a th:href = "@{/admin/shoes}" style="text-decoration: none;"><h2>Товары</h2></a></th>
            <th><a th:href = "@{/admin/statistic}" style="text-decoration: none;"><h2>Статистика</h2></a><th>
            <th> <h2>Выход</h2><th>
        </tr>
    </table>
<br>
    <p align="center"><button type="submit" class="btn btn-light"><a th:href = "@{/admin/shoes/add}" style="text-decoration: none;">Добавить новую обувь</a></button></p>
    <p align="center"><button type="submit" class="btn btn-light"><a th:href = "@{/admin/brand/add}" style="text-decoration: none;">Добавить новый брэнд</a></button></p>
    <p align="center"><button type="submit" class="btn btn-light"><a th:href = "@{/admin/procurement}" style="text-decoration: none;">Таблица размеров</a></button></p>
    <br>
    <br>
<p align="center" >Список обуви</p>
<table align="center" border="1" style="border-collapse: collapse; border: 1px solid black;">
    <tr>
        <td style="width: 100px">
            <span><b>ID модели</b></span>
        </td>
        <td style="width: 100px">
            <span><b>Название</b></span>
        </td>
        <td style="width: 100px">
            <span><b>Тип</b></span>
        </td>
        <td style="width: 100px">
            <span><b>Брэнд</b></span>
        </td>
        <td style="width: 100px">
            <span><b>Цвет</b></span>
        </td>
        <td style="width: 100px">
            <span><b>Пол</b></span>
        </td>
        <td style="width: 100px">
            <span><b>Цена</b></span>
        </td>
    </tr>
    <tr th:each="shoe : ${shoeList}">
        <td>
            <span th:text="${shoe.id}"></span>
        </td>
        <td>
            <span th:text="${shoe.name}"></span>
        </td>
        <td>
            <span th:text="${shoe.type.name}"></span>
        </td>
        <td>
            <span th:text="${shoe.brand.name}"></span>
        </td>
        <td>
            <span th:text="${shoe.color}"></span>
        </td>
        <td>
            <span th:text="${shoe.sex}"></span>
        </td>
        <td>
            <span th:text="${shoe.price}"></span>
        </td>
    </tr>
</table>
<br>

</body>
</html>